.chart {
    box-shadow: $box-shadow-light;
    @include mobile-tablet {
        max-width: 95vw;
    }
    &__title {
        margin-left: 20px;
        font-size: 1rem;
        color: $txt-color-second;
        margin-bottom: 1rem;
    }
}
